/* ==========================================================================
   Code example styles
   ========================================================================== */

.d-example {
  @include clearfix();
  box-shadow: 2px 2px 6px transparentize($c__black, 0.88);
  padding: 1rem 2.5rem 2.5rem;

  > .toggle {
    border-bottom: 1px solid mix($c__grey, $c__white, 20%);
    margin: 0 0 1.5rem;
    padding-bottom: 1rem;

    a {
      font-size: 75%;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  > .wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .input,
    .output {
      @include fx--transition(left 0.3s ease-in-out 0s);
      position: absolute;
      top: 0;
      width: 100%;

      > * {
        margin-bottom: 1.5rem;
      }
    }

    .input {
      left: -100%;
      &.active {
        left: 0;
      }
    }
    .output {
      left: 100%;
      &.active {
        left: 0;
      }
    }
  }
}
